.linkItem {
  position: relative;
}
.linkItem::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -15px;

  width: 0;
  background: #34bf49;
  opacity: 0;
  border-radius: 16px;
  transition: 0.2s ease-in-out;
}
.linkItem:hover::after {
  opacity: 1;
  width: 50%;
  height: 4px;
}
